.pagedjs_margin-top-left, .pagedjs_margin-top-right { height: 6px; margin-top: 10mm; }

.pagedjs_margin-top { align-items: top; }

@media screen {
  body {
    background-color: whitesmoke !important;
  }
  .pagedjs_page {
    background-color: white !important;
    box-shadow: 0 0 0 2px #888 !important;
    margin: 0 auto !important;
    margin-top: 10mm !important;
  }
}
